@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Namdhinggo:wght@400;500;600;700;800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}
body{
    background-color: #000;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.complete{
    display: flexbox;
    width: 100%;
    height: 100%;
}
.complete .big{
    display: flex;
}
.complete .big a img{
    width: 100rem;
    height: 50px;
}
.complete .under-big{
    display: flex;
    background-color: #fff;
    height: 50px;
}
.complete .under-big img{
    margin-top: -20px;
    display: flex;
    padding: 30px;
    width: 100%;
}

.logo{
    /* position: sticky; */
    padding: 20px 10px;
    font-size: 15px;
    font-weight: 300;
    background-color: #ed017f; 
    width: 100%;
    height: 80px;
    display: flex;
    color: #fff;
    gap: 50px;
}
.logo img{
    padding: 5px;
    margin-top: -13px;
    margin-left: 20px;
    width: 125px;
    height: 40px;
}
.logo a{
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
}

.search{
    display: flex;
    color: black;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #fff;
}

.search input{
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 2px 350px 2px 5px;
}
.search p{
    color: #fff;
    margin-top: -1px;
    padding: 10px;
    border: 2px solid transparent;
    background-color: #fba100;
    border-radius: 5px;
}
.logo .cart{
    background-color: #33b27b;
    color: #fff;
    border: 2px solid transparent;
    padding: 10px;
    box-sizing: border-box;
}
.categories{
    display: flex;
    background-color: #94004f;
    height: 50px;
}
.cat{
    font-size: 15px;
    justify-content: center;
    margin: 10px;
    display: flex;
    gap: 80px;
}
.cat a{
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    text-align: center;
}
.cat a:hover{
    color: #000;
    background-color: #fff;
}

.banner-frame{
    padding: 20px;
    margin: 50px;
    width: 100%;
    height: 70%;
    display: flex;
}
.banner-img{
    width: 60%;
}
.banner-img img{
    margin-left: -80px;
    width: 50rem;
    height: 300px;
}
.banner-side{
    float: left;
}
.banner-side img{
    margin-left: 20px;
    height: 150px;
    width: 200px;
}
.others{
    margin: 80px;
    margin-top: -80px;
    gap: 30px;
    display: flex;
    box-sizing: border-box;
    box-shadow: rgba(26, 25, 25, 0.2);
}
.others a{
    text-decoration: none;
    color: #94004f;
}
.others i{
    display: flex;
    border: 2px solid transparent;
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 10px;
    gap: 10px;
    font-size: 20px;
}
.others p{
    color: #000;
    font-size: 15px;
}
.newSection{
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 20px;
    background-color: #94004f;
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
}

.newSection h1{
    margin: 10px;
    font-size: x-large;
    gap: 20px;
}
.newSection a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: 15px;
}
.product{
    margin-top: -20px;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    border: 2px solid transparent;
}
.product-border{
    max-width: 35%;
    border: 2px solid transparent;
    border-radius: 5px;
    gap: 20px;
}
.product-border:hover{
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    cursor: pointer;
}
.product-img{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.product-img img{
    width: 100px;
    height: 100px;
}
.product-img p{
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    gap: 10px;
}
.product-img h3{
    display: flex;
    padding-left: 100px;
}
.new-price{
    font-size: 20px;
    font-weight: 600;
}
.old-price{
    font-size: 15px;
    text-decoration: line-through;
    color: #666;
}
.discount-price{
    padding: 5px;
    color: red;
}
.product-save{
    text-align: center;
    color: rgb(36, 122, 36);
    font-weight: 800;
}
.product2{
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
}
.product, .product2{
    margin-left: 20px;
}
.official{
    background-color: #fff;
    margin: 20px;
}
.official p{
    width: 100%;
    text-align: center;
    background-color: #fba100;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.brand-product img{
    width: 15%;
    height: 100px;
    padding: 5px;
    display: flexbox;
    margin: 5px;
    cursor: pointer;
}
.best-shopping{
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.best-shopping h1{
    color: #666;
    font-size: 40px;
}
.best-shopping p{
    font-size: 15px;
    color: #666;
    text-decoration: none;
    margin-top: 10px;
    letter-spacing: 1px;
}
.best-shopping p a{
    text-decoration: none;
}
.top-deals{
    margin: 20px;
    padding: 20px;
    display: flex;
    background-color: #fff;
}
.top-details{
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 5px 10px 30px rgba(53, 46, 46, 0.2);
}

.top-details img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.top-details h1{
    font-size: 25px;
    color: #666;
    text-transform: uppercase;
    padding: 40px 5px;
}
.top-details p{
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
}

